@font-face {
   font-family: 'Alfa Slab One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///E:/PARA%20ACABAR%20ESTRATEGIA/EstrategiaDidactica/fonts/Alfa Slab One/regular.ttf') format('truetype');
}
