@font-face {
   font-family: 'Luckiest Guy';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///E:/PARA%20ACABAR%20ESTRATEGIA/EstrategiaDidactica/fonts/Luckiest Guy/regular.ttf') format('truetype');
}
